{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    <ul class="listings">
        {% for listing in listings %}
        <li class="listing_item">
            <a href="{% url 'show' listing_id=listing.id %}">
                <div class="title">
                    {{ listing.title }}
                </div>
                <div class="image">
                    {% if listing.image %}
                    <img src="{{ listing.image }}" alt="">
                    {% else %}
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQulVpB9YDxnnJBgPdrm5Rc5x6xmJH0xO1FYihUJpEiDSvHEOgSBSHnADEC-NLfeIQ-vos&usqp=CAU" alt="">
                    {% endif %}
                </div>
                <div class="foot">
                    <div class="description">
                        {{ listing.description }}
                    </div>
                    <div class="price">
                        {{ listing.price }}
                    </div>
                </div>
            </a>
        </li>
        {% empty %}
            <h2>No Listing Found</h2>
        {% endfor %}
    </ul>
{% endblock %}